.not-found{
    background-color: #dfe3e8;
    margin-top: 100px;
    width: auto;
    text-align: center;
    animation: show 0.3s linear;
}
.not-found>h1{
    font-size: 120px;
    font-weight: 700;
}
.not-found>h2{
    color: #232323;
    margin-top: -100px;
}
.not-found>a{
    line-height: 50px;
    font-size: 20px;
}
.not-found>a:visited{
    color: initial;
}
@keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}